@model User

@section Landing{
    <link rel="stylesheet" href="~/css/LogReg.css">
}


<style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>



    <script>      
      
      function getCoordinates (address, callback){
      var geocoder = new google.maps.Geocoder();
        var coordinates;
        geocoder.geocode({address: address}, function(results, status){
          coords_obj = results[0].geometry.location;
          coordinates = [coords_obj.nb, coords_obj.ob];
        })
      }

      var map;

      function initMap2(){
        getCoordinates('1045 Mission street san fransisco', function(coords){
          var mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(coords[0], coords[1]),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
        map = new google.maps.Map(document.getElementById('map'),mapOptions);
        })
      }

// Initialize and add the map
      function initMap() {
        getCoordinates('15 Eastshore Irvine', function(coords){
          // The location of Uluru
          var uluru = {lat: coords[0], lng: coords[1]};
          // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
        })
      }
    </script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATmhZCudDM6-9P11F4N8eWpC307XgRUaI&callback=initMap2">
</script>

<h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

<header id="LogReg-header">
    <div class="wrapper nav landing-nav">
        <div class="logo">
            <a asp-action="LandingPage" asp-controller="Home">
                <h1 class="abril">Together</h1>
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a asp-action="Login" asp-controller="Home" class="register-btn">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div id="helper-form" class="reg-form-box">
    <h4>Helper Registration</h4>
    <form asp-action="HelperReg" asp-controller="Home" method="POST">
        <span asp-validation-for="FirstName" class="red"></span>
        First Name * <input asp-for="FirstName" placeholder="Enter your name">
        <span asp-validation-for="LastName" class="red"></span>
        Last Name * <input asp-for="LastName" placeholder="Enter your last name">
        <span asp-validation-for="Email" class="red"></span>
        Email Address * <input asp-for="Email" placeholder="Enter your email">
        <span asp-validation-for="Password" class="red"></span>
        Password * <input asp-for="Password" placeholder="Enter your password">
        <span asp-validation-for="Confirm" class="red"></span>
        Confirm Password <input asp-for="Confirm" placeholder="Confirm your password">
        <span asp-validation-for="PhoneNumber" class="red"></span>
        PhoneNumber * <input asp-for="PhoneNumber" placeholder="Enter your phone number">
        <span asp-validation-for="ImageUrl" class="red"></span>
        Profile Pic * <input asp-for="ImageUrl">
        <span asp-validation-for="VenmoId" class="red"></span>
        Venmo ID * (To make or receive payments)<input asp-for="VenmoId" placeholder="Enter your Venmo ID">
        <span asp-validation-for="Address1" class="red"></span>
        Address Line * <input asp-for="Address1" placeholder="Enter your address 1">
        <span> @* Empty span for equal horizontail spacing *@ </span>
        Adress Line2 <input asp-for="Password" placeholder="Enter your address 2">
        <span asp-validation-for="City" class="red"></span>
        City * <input asp-for="City" placeholder="Enter your city">
        <span asp-validation-for="ZipCode" class="red"></span>
        Zip Code * <input asp-for="ZipCode" placeholder="Enter your city">
        <span asp-validation-for="State" class="red"></span>
        State * <input asp-for="State" placeholder="Enter your state">
        <span asp-validation-for="Country" class="red"></span>
        Country * <input asp-for="Country" placeholder="Enter your country">
        <input type="hidden" asp-for="Status" value="false">
        <span> @* Empty span for equal horizontail spacing *@ </span>
        <input type="submit" class="form-btn" value="REGISTER">
    </form>
    <a asp-action="Login" asp-controller="Home" class="form-redirect-link">Already have an account?</a>
</div>