@model Login

@section Landing{
    <link rel="stylesheet" href="~/css/LogReg.css">
}

<header id="LogReg-header">
    <div class="wrapper nav landing-nav">
        <div class="logo">
            <a asp-action="LandingPage" asp-controller="Home">
                <h1 class="abril">Together</h1>
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a asp-action="SelectRole" asp-controller="Home" class="standout-btn">Register</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section id="log-body" class="wrapper">
    <div class="log-container" data-aos="zoom-in">
        <h3>Login</h3>
        <form asp-action="LoginUser" asp-controller="Home" method="POST">
            <span asp-validation-for="LoginEmail" class="red"></span>
            Email: <input class="form-control" asp-for="LoginEmail" placeholder="Enter email">
            <span asp-validation-for="LoginPassword" class="red"></span>
            Password: <input class="form-control" asp-for="LoginPassword" placeholder="Enter password">
            <br>
            <input type="submit" class="form-btn" value="LOGIN">
        </form>
        <a asp-action="SelectRole" asp-controller="Home" class="form-redirect-link">Don't have an account?</a>
    </div>
</section>
