@model Login

@section Landing{
    <link rel="stylesheet" href="~/css/LogReg.css">
}

<header id="LogReg-header">
    <div class="wrapper nav landing-nav" data-aos="fade-down">
        <div class="logo">
            <h1 class="abril">Together</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a asp-action="Register" asp-controller="Home" class="register-btn">Register</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section id="log-body" class="wrapper">
    <h3>Login</h3>
    <form asp-action="LoginUser" asp-controller="Home" method="POST">
        <span asp-validation-for="LoginEmail"></span>
        Email: <input class="form-control" asp-for="LoginEmail">
        <span asp-validation-for="LoginPassword"></span>
        Password: <input class="form-control" asp-for="LoginPassword">
        <br>
        <input type="submit" value="Login">
    </form>
</section>
