@{
    ViewData["Title"] = "Login Page";
}
<h1>@ViewData["Title"]</h1>

<p>This is the login page.</p>

@model Login

<div class="container">
    <br>
    <h1 class="text-center">Login Page</h1>
    <div class="row">
        <div class="col">
            <br>
            <h1>Login</h1>
            <br>
            <form asp-action="LoginUser" asp-controller="Home" method="POST">
                <span asp-validation-for="LoginEmail"></span>
                Email: <input class="form-control" asp-for="LoginEmail">
                <span asp-validation-for="LoginPassword"></span>
                Password: <input class="form-control" asp-for="LoginPassword">
                <br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</div>