@section LogReg{
    <link rel="stylesheet" href="~/css/LogReg.css">
}

<header id="register-header">
    <div class="wrapper nav register-nav" data-aos="fade-down">
        <div class="logo">
            <h1 class="abril">Register</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a>Home</a>
                </li>
            </ul>
        </div>
    </div>
</header>