@model User

<form asp-action="register" asp-controller="Home" method="POST">
    <span asp-validation-for="FirstName"></span>
    First Name: <input class="form-control" asp-for="FirstName">
    <span asp-validation-for="LastName"></span>
    Last Name: <input class="form-control" asp-for="LastName">
    <span asp-validation-for="Status"></span>
    Status: <input class="form-control" asp-for="Status">
    <span asp-validation-for="Email"></span>
    Email Address: <input class="form-control" asp-for="Email">
    <span asp-validation-for="Password"></span>
    Password: <input class="form-control" asp-for="Password">
    Confirm Password: <input class="form-control" asp-for="Confirm">
    <br>
    <input type="submit" value="Register">
</form>