/* Dashboard navigation */
#Dash-header .logo h1{
    color: #243f51;
}
#Dash-header .nav-links li:first-child a{
    color: #243f51;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 2px 20px;
    transition: all 0.5s ease-out;
}
#Dash-header .nav-links li:hover:first-child a{
    border-color: #243f51;
    transition: border-color 0.3s ease-in;
}
#Dash-header .nav-links #request-btn{
    color: #243f51;
    border-color: #243f51;
    transition: all 0.5s ease-out;
}
#Dash-header .nav-links #request-btn:hover{
    background-color: #243f51;
    color: #fff;
    transition: all 0.3s ease-in;
}

/* Dashboard body */
#dash-main{
    margin-top: 13rem;
    height: 70vh;
    overflow-y: scroll;
}
table{
    width: 100%;
    background-color: #fff;
}
table th{
    background-color: #243f51;
    color: #fff;
    padding: 8px 0;
}
table td{
    text-align: center;
    padding: 8px 0;
}
table tr:nth-child(even){
    background-color: gainsboro;
}
table .view-btn{
    background: linear-gradient(to right, #F76241, #ff7759);
    color: #fff;
    border-radius: 5px;
    padding: 1px 20px;
    transition: all 0.5s ease-out;
}
table .view-btn:hover{
    background-color: cornflowerblue;
    transition: all 0.3s ease-in;
}

/* DETAILS.CSHTML STYLES */
#detail-main{
    margin-top: 10rem;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#map{
    width: 50%;
    height: 900px
}
#detail-content{
    width: 45%;
    padding: 2rem;
    background: #fff;
}
#detail-content .image{
    height: 40vh;
}