/* NAVIGATION */
.landing-nav .nav-links ul li a{
    color: #fff;
    border: 2px solid transparent;
    padding: 2px 20px;
    transition: all 0.5s ease-out;
}
.landing-nav .nav-links ul li a:hover{
    /* color: rgba(255,255,255,0.4); */
    border-color: #fff;
    transition: border-color 0.3s ease-in;
}
.landing-nav .nav-links #register-btn{
    background-color: #fff;
    border-color: #fff;
    color: #000;
    transition: all 0.5s ease-out;
}
.landing-nav .nav-links #register-btn:hover{
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease-in;
}

/* BANNER */
#banner{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
#banner #leftCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner #leftCol .banner-text{
    width: 80%;
}
#leftCol .banner-text h1{
    font-size: 4.75rem;
    line-height: 80px;
    width: 70%;
    margin-bottom: 1rem;
}
#banner .col{
    width: 49%;
}
#banner .image{
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.1), rgba(0,0,0,0.5) ), url('https://images.unsplash.com/photo-1542323228-002ac256e7b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* HOW IT WORKS */
#how{
    margin-top: 5rem;
}
#how h3{
    text-align: center;
    margin-bottom: 2.5rem;
}
#how .cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
#how .cards .card{
    width: 40%;
}
#how .cards .card p:first-of-type{
    margin-bottom: 12px;
}
#how .cards .image{
    width: 57%;
}