@media screen and (max-width: 1600px){
    .explanation-card{
        width: 35%;
    }
    .reg-form-box{
        width: 55%;
    }
}
@media screen and (max-width: 1400px){
    .log-container{
        width: 60%;
    }
    /* Details page */
    #map{
        width: 45%;
        height: 850px;
    }
    #detail-content{
        width: 50%;
    }
    .person-info-container .person-image{
        height: 35vh;
    }
}
@media screen and (max-width: 1350px){
    .explanation-card{
        width: 30%;
        padding: 2rem;
    }
    .reg-form-box{
        width: 65%;
    }
    /* Details page */
    #detail-main{
        margin-top: 15rem;
    }
    #map{
        width: 40%;
        height: 650px;
    }
    #detail-content{
        width: 53%;
    }
}
@media screen and (max-width: 1200px){
    .width-link{
        width: 45%;
    }
    .log-container,
    .reg-container{
        width: 75%;
    }
    /* Details page */
    #detail-main{
        flex-direction: column;
    }
    #detail-content{
        width: 70%;
        margin-bottom: 2rem;
        box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    }
    #map{
        width: 70%;
        height: 700px;
    }
}
@media screen and (max-width: 1150px){
    /* Universal Styles */
    html{
        font-size: 16px;
    }
    .reg-form-box{
        padding: 2rem;
    }
    form .image-upload .file-callout{
        height: 24px;
    }

    /* HelperDetails page */
    #helper-details{
        width: 100%;
    }
}


@media screen and (max-width: 1000px){
    .help-helper-main{
        flex-direction: column;
    }
    .explanation-card{
        width: 75%;
        margin-bottom: 2rem;
        box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
    }
    .reg-form-box{
        width: 75%;
    }
}


@media screen and (max-width: 850px){
    .explanation-card{
        width: 100%;
    }
    .reg-form-box{
        width: 100%;
    }

    form .image-upload .file-callout{
        height: 20px;
    }

    /* Dashboard page */
    #address-th,
    .address-td{
        display: none;
    }

    /* Details page */
    #detail-content{
        width: 100%;
    }
    #map{
        width: 100%;
    }

    /* HelperDetails page */
    #helper-details .person-image{
        height: 35vh;
    }
}


@media screen and (max-width: 800px){
    .width-link{
        width: 65%;
    }
    form label{
        margin-bottom: 5px;
    }
    form .form-btn{
        width: 70%;
        margin-bottom: 1rem;
    }
    .log-container,
    .reg-container{
        width: 100%;
    }
}


@media screen and (max-width: 720px){
    /* Universal Styles */
    html{
        font-size: 14px;
    }
    form input{
        height: 2.5rem;
    }
    form #pwd-box{
        height: 2.5rem;
    }
    form input,
    form textarea{
        font-size: 1rem;
    }
    form .single-row{
        flex-direction: column;
    }
    form .single-row .inputs{
        width: 100%;
    }
    form .image-upload{
        margin-bottom: 1rem;
    }
    form .image-upload .upload-btn{
        width: 35%;
    }

    .btn-alignment>*{
        margin-bottom: 7px;
    }
    .btn-alignment{
        flex-direction: column;
    }
    .btn-alignment .reg-btn{
        width: 100%;
        height: 2.5rem;
    }

    /* Dashboard page */
    .mobile-dashNav,
    #open-dashNav{
        display: block;
    }
    #Dash-header .nav-links{
        display: none;
    }
    #open-dashNav{
        font-size: 2.5rem;
    }
    #open-dashNav:hover{
        cursor: pointer;
    }
    #open-dashNav:active{
        transform: scale(0.95);
    }
    #close-dashNav{
        font-size: 4rem;
        color: #fff;
        position: absolute;
        top: 2%;
        right: 10%;
    }
    #close-dashNav:hover,
    #close-dashNav:focus{
        cursor: pointer;
        top: 2.5%;
        transform: rotate(180deg);
        transition: all 0.3s ease;
    }
    .mobile-dashNav.show{
        transform: translate(0);
        transition: transform 0.2s ease;
    }
    .mobile-dashNav{
        top: 0;
        width: 350px;
        height: 100vh;
        position: fixed;
        z-index: 5;
        transform: translate(-350px);
        background-color: #243f51;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;
    }
    .mobile-dashNav ul li{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    .mobile-dashNav ul li a{
        color: #fff;
    }
    #action-th,
    .action-td,
    .desktop-name{
        display: none;
    }
    .mobile-name{
        display: block;
    }

    /* Details page */
    #detail-main{
        margin-top: 10rem;
    }
    #map{
        height: 500px;
    }
    #helper-details .person-image{
        height: 40vh;
    }
    .person-info-container{
        flex-direction: column;
        align-items: center;
    }
    .person-info-container .person-image{
        width: 100%;
        height: 45vh;
        margin-bottom: 1rem;
    }
    .person-info-container .person-info-text{
        width: 100%;
    }
    #detail-content p,
    #helper-details p{
        font-size: 1rem;
    }
    #detail-content p span,
    #helper-details p span{
        font-size: 1rem;
        letter-spacing: 0.25px;
    }
    .request-container{
        margin-top: 1.5rem;
    }
    .request-container h4{
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    #delete-btn{
        padding: 7px 20px;
        font-size: 1.1rem;
    }

    /* HelperDetails page */
    .requestee-container .cancel-btn{
        padding: 0 15px;
        height: 1.85rem;
        font-size: 1rem;
    }
}